body {
  background-color: #7A956B;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #f3f3f3;
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin: 20px auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#films {
  margin-top: 40px;
}

#films > div {
  margin-bottom: 40px;
}

#films h3 {
  margin: 0;
  color: #f3f3f3;
}

#films p {
  margin-top: 10px;
  color: #f3f3f3;
}

#films > div > div {
  margin-top: 20px;
  color: #f3f3f3;

}
